:root {
  --background-color: rgb(194, 194, 214);
  --operation-btn: rgb(66, 66, 66);
  --btn-hover: rgb(70, 70, 70);
}

html {
  display: block;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  color: white;
  font-size: 25px;
}

#root {
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  min-height: 100vh;
  font-weight: 400;
}

.calculator-box {
  width: 350px;
  height: auto;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 100px rgb(255, 255, 255);
  border-radius: 30px;
  overflow: hidden;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.func-btns {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 10px;
  padding: 5px;
}

.func-btns button {
  height: 13px;
  width: 13px;
  margin: 3px;
  border-radius: 50%;
  border: none;
}

.func-btns .close {
  background-color: rgb(191, 68, 37);
}
.func-btns .change-color {
  background-color: rgb(233, 203, 38);
}
.func-btns .info {
  background-color: rgb(95, 153, 51);
}

.displays {
  height: 150px;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 0px 15px;
  overflow: hidden;
}

.upper-display {
  /* background-color: aqua; */
  overflow: hidden;
  grid-row: 1/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  color: rgb(89, 85, 78);
}
.lower-display {
  overflow: hidden;
  font-size: 50px;
  /* background-color: antiquewhite; */
  grid-row: 3/6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.line {
  height: 1px;
  background: rgb(47, 83, 163);
  background: linear-gradient(
    40deg,
    rgb(38, 68, 133) 0%,
    rgb(115, 54, 93) 50%,
    rgb(6, 114, 107) 100%
  );
  border-radius: 10%;
}

.numpad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  font-size: 20px;
  position: relative;
  margin-top: 5px;
}

.numpad div {
  color: white;
  background-color: black;
  height: 80px;
  /* outline: 1px solid black; */
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numpad button {
  height: 90%;
  width: 90%;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  background-color: transparent;
  transition: transform 0.15s ease-in-out;
}

.numpad .operation-btn {
  background-color: var(--operation-btn);
}

.numpad button:hover {
  background-color: var(--btn-hover);
  box-shadow: 0px 0px 3px rgb(122, 122, 122);
  transform: scale(1.1);
}

.numpad .num-AC:nth-child(1) :hover {
  background-color: rgb(160, 10, 10);
  transition: 10;
  height: 95%;
  width: 95%;
}

.numpad .num-AC {
  grid-column: 1/3;
}

.numpad .num-zero {
  grid-column: 1/3;
}

.numpad .operation.equal {
  grid-column: 4/5;
  grid-row: 4/6;
  height: auto;
}

.operation-btn.equal:hover {
  background-color: rgba(32, 65, 41, 0.827);
}
